In [ ]:
# 要記得先下載yfinance
# pip install yfinance

In [2]:
import yfinance as yf
import pandas as pd

In [5]:
# 這邊可以替換各種公司的代碼
# AAPL(apple) GOOG(Google) MSFT(Microsoft) AMZN(Amazon) TSLA(Tesla) NVDA(NVIDIA)

comp_data = yf.download(
    "TSLA",
    start="2019-05-01",
    end="2026-10-07",
    interval="1d"
)

comp_data.head()

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open     Volume
Ticker           TSLA       TSLA       TSLA       TSLA       TSLA
Date
2019-05-01  15.600667  16.000000  15.433333  15.923333  160566000
2019-05-02  16.273333  16.475332  15.848000  16.368000  272389500
2019-05-03  17.002001  17.107332  16.232668  16.257334  355602000
2019-05-06  17.022667  17.223333  16.566668  16.667999  162508500
2019-05-07  16.470667  17.147333  16.340000  17.120001  151971000